name: "Eventide component workflow: build image and push"

on:
  workflow_call:
    inputs:
      workload_identity_provider:
        required: true
        type: string
      github_actions_gsa:
        required: true
        type: string
      project_id:
        required: true
        type: string

      component_name:
        required: true
        type: string

      repository:
        required: false
        type: string

      cache_image_tag:
        type: boolean
        default: true

    secrets:
      BUNDLE_RUBYGEMS__PKG__GITHUB__COM:
        required: true
      BUNDLE_GITHUB__COM:
        required: true

      CHECKOUT_TOKEN:
        required: false

jobs:
  build:
    env:
      IMAGEBASE: europe-docker.pkg.dev/nimble-lead-281209/eu.gcr.io/${{ inputs.component_name }}

    runs-on: self-hosted

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository || github.repository }}
          token: ${{ secrets.CHECKOUT_TOKEN || github.token }}

      - id: 'auth'
        uses: 'google-github-actions/auth@v3'
        with:
          workload_identity_provider: ${{ inputs.workload_identity_provider }}
          service_account: ${{ inputs.github_actions_gsa }}
          project_id: ${{ inputs.project_id }}

      - name: Set branch
        run: echo "branch=${GITHUB_REF_NAME:-$(git branch | grep "\*" | cut -d\  -f2)}" >> $GITHUB_ENV

      - name: Set commit_sha
        run: echo "commit_sha=${GITHUB_SHA:-$(git rev-parse HEAD)}" >> $GITHUB_ENV

      - name: Set imagetag
        run: echo "imagetag=${IMAGETAG:-${{ env.branch }}-$(date +%Y-%m-%d-%H-%M-%z |sed -e 's/+//')-$(echo "${{ env.commit_sha }}"|cut -c1-8)}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image and push to Docker (to GCP)
        uses: docker/build-push-action@v5
        with:
          context: .
          load: false
          push: true
          tags: |
            ${{ env.IMAGEBASE }}:${{ env.imagetag }}
            ${{ env.IMAGEBASE }}:latest
          labels: |
            ${{ inputs.component_name }}
          cache-from: type=registry,ref=${{ env.IMAGEBASE }}:buildcache
          cache-to: type=registry,ref=${{ env.IMAGEBASE }}:buildcache,mode=max
          build-args: |
            POSTURE=operational
          secrets: |
            BUNDLE_RUBYGEMS__PKG__GITHUB__COM=${{ secrets.BUNDLE_RUBYGEMS__PKG__GITHUB__COM }}
            BUNDLE_GITHUB__COM=${{ secrets.BUNDLE_GITHUB__COM }}

      - run: echo ${{ env.imagetag }} > imagetag

      - name: Cache imagetag
        uses: actions/cache@v4
        if:  ${{ inputs.cache_image_tag }}
        env:
          cache-name: cache-imagetag
        with:
          path: imagetag
          key: image-cache-${{ runner.os }}-${{ github.repository }}-${{ github.ref_name }}-${{ github.sha }}
