name: "Eventide component workflow: deploy"

on:
  workflow_call:
    inputs:
      workload_identity_provider:
        required: true
        type: string
      deployer_gsa:
        required: true
        type: string
      project_id:
        required: true
        type: string
      cluster_project_id:
        required: true
        type: string
      cluster_name:
        required: true
        type: string
      cluster_region:
        required: true
        type: string
      component_name:
        required: true
        type: string
      namespace:
        required: true
        type: string
      environment:
        required: true
        type: string

      image_name:
        required: false
        type: string

jobs:
  deploy:
    env:
      IMAGEBASE: europe-docker.pkg.dev/nimble-lead-281209/eu.gcr.io/${{ inputs.image_name || inputs.component_name }}

    runs-on: self-hosted

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v4

      - id: 'auth'
        uses: 'google-github-actions/auth@v3'
        with:
          workload_identity_provider: ${{ inputs.workload_identity_provider }}
          service_account: ${{ inputs.deployer_gsa }}
          project_id: ${{ inputs.project_id }}

      - id: 'get-credentials'
        uses: 'google-github-actions/get-gke-credentials@v3'
        with:
          cluster_name: ${{ inputs.cluster_name }}
          location: ${{ inputs.cluster_region }}
          project_id: ${{ inputs.cluster_project_id }}

      - name: Cache imagetag
        uses: actions/cache@v4
        env:
          cache-name: cache-imagetag
        with:
          path: imagetag
          key: image-cache-${{ runner.os }}-${{ github.repository }}-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            image-cache-${{ runner.os }}-${{ github.repository }}-${{ github.ref_name }}-${{ github.sha }}
            image-cache-${{ runner.os }}-${{ github.repository }}-${{ github.ref_name }}-

      - name: Build image and deploy
        run: |
          imagetag=`cat imagetag`
          cd kustomize/${{ inputs.environment }}
          kustomize edit set image ${{ inputs.image_name || inputs.component_name }}-image=${{ env.IMAGEBASE }}:$imagetag
          kustomize build | kubectl apply --namespace=${{ inputs.namespace }} -f-

      - name: Check status
        run: |
          source /home/runner/status_deployment.sh
          check_status_and_auto_rollback_if_necessary "${{ inputs.environment }}-${{ inputs.component_name }}" "${{ inputs.namespace }}"
